.categorymenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s;
  z-index: 90;
  overflow: scroll;
}

.categorymenu.hide {
  transform: translateY(100%);
}

.categorymenu.show {
  transform: translateY(0);
  overflow: hidden;
}

.categorymenu-header {
  padding: 90px 20px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.categorymenu-title {
  margin: 0;
  text-align: left;
}

.modal-body {
  padding: 10px;
}

.categorymenu .nav-item {
  line-height: 26px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.categorymenu .navbar-nav {
  width: 66%;
  margin-top: 50px;
}
