a {
  color: grey;
}
a:hover {
  color: #00f;
}
.search {
  margin: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}
.menu .menuheader {
  margin-top: 50px;
  margin-bottom: 100px;
}
.menu > .menuheader > h1 {
  text-align: center;
  margin-top: 50px;
}

.navbar-toggler {
  border: none;
}

.btn-close {
  right: 30px;
}

#roundButton {
  border: none;
  background-color: white;
}
#flyoutMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s;
  z-index: 1;
  overflow: scroll;
}

#flyoutMenu.hide {
  transform: translate(-100vw, 0);
}

#flyoutMenu.show {
  transform: translate(0, 0);
  overflow: hidden;
}

.navigation-tabs {
  border-width: 0;
}

.nav-link {
  border: none;
  background-color: white;
  color: grey;
}
.nav-link.active {
  border-bottom: solid 1px grey;
  color: black;
}

.public,
.watchlist {
  height: 400px;
}

.categories-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category {
  position: relative;
  margin: 5px 0 5px 0;
  cursor: pointer;
}

.category > p {
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 0;
  color: white;
  z-index: 1;
}
.category > img {
  height: 175px;
  width: 175px;
}

@media (max-width: 400px) {
  .search .btn {
    display: none;
  }
}
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
